# ======================
# OS files
# ======================
.DS_Store
Thumbs.db

# ======================
# Editor / IDE
# ======================
.vscode/
.idea/
*.swp
*.swo

# ======================
# Logs
# ======================
*.log

# ======================
# Temporary files
# ======================
*.tmp
*.temp

# ======================
# Node (kalau nanti kepake)
# ======================
node_modules/

# ======================
# Build / cache
# ======================
dist/
build/
.cache/
